.user__product__card{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    display: flex;
    gap: 10px;
    
    font-size: x-small;
    b{
        font-size: small;
        padding: 4px;
    }
    p{
        padding: 4px;
    }
    img{
        width: 100px;
    }
    .product__amount{
        display: flex;
        align-items: center;
        padding-left: 10px;
        gap: 10px;
        button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border: none;
                outline: none;
                color: white;
                border-radius: 4px;
                cursor: pointer;
                background-color: var(--blue-color);
                transition: .3s;
                &:hover{
                background-color: var(--blue-color-hover);
                font-size: small;
                }

            }
          
    }
    .buttons{
        margin-top: 10px;
        >button{
            cursor: pointer;
            font-size: small;
            border-radius: 4px;
            width: fit-content;
            padding: 5px;
            border: none;
            outline: transparent;
            color: white;
            transition: 0.3s;
        }
    }
    .view__moew__btn{
        background-color: var(--green-color);
        &:hover{
        background-color: var(--green-color-hover);
        }
    }
    .add_to_cart__btn{
        background-color: var(--red-color);
        &:hover{
            background-color: var(--red-color-hover);
            }
        margin-right: 5px;
    }
}