#loading {
    width: 3rem;
    height: 3rem;
    border: 2px solid #d3d3d3;
    border-top: 3px solid var(--main-color);
    border-radius: 100%;
    margin: 4% auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}