.products__categories{
    width: 300px;
    @media(max-width:991px){
        text-align: center;
        margin: auto;
        margin-top: 20px;
        >div{
            margin-bottom: 10px;
        }

    }
}