.product__filter_Sidebar{
    position: fixed;
    top: 73px;
    width: 340px;
    left: 0;
    height: calc(100vh - 73px);
    padding: 20px;
    background-color: white !important;
    border-radius: 4px;
    border: solid 1px var(--gray-color);
    .sidebar__info{
        h1{
            padding: 0;
            font-size: medium;
        }
        p{
            
            padding-top: 10px;
            font-size: small;
            font-weight: thin;
        }
        
    }    
    .filters{
        p{
            font-size: 11px;
            margin-top: 10px;
        }
        .top__p{
            margin-top: 60px;
        }

    }
   
}