
.tooltip_element{
    position: relative;
    width: fit-content;
    .tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s;
  top: 0;
  left: 0;
  width: max-content;
}

&:hover .tooltip {
  opacity: 1;
}
   
      .tooltip-top {
        bottom: 105%;
        left: 40%;
      }
      
      .tooltip-bottom {
        top: 105%;
        left: 40%;
      }
}
