@import '_variables.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Assistant', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 992px) {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

:root{
  --main-black:#120028;
  --gray-color:#dadada;
  --main-color:#7300ff;
  --main-color-hover:#4d00aa;
  --green-color:#00ff73;
  --blue-color:deepskyblue;
  --yellow-color:gold;
  --red-color:	#f40d30;  
  --green-color-hover: #00cc66; /* Slightly darker green on hover */
  --blue-color-hover: #0099cc; /* Slightly darker blue on hover */
  --yellow-color-hover: #ccaa00; /* Slightly darker yellow on hover */
  --red-color-hover: #cc0026; /* Slightly darker red on hover */


}