.user__cart__container{
    padding-right: 350px;
    position: relative;
    @media(max-width:991px){
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
       
    }
    
}
.total__Shoping__cart{
    @media(min-width: 991px){
        position: fixed;
        top: 50px;
        right: 80px;
        width: 340px;
    }
  
    @media(max-width: 991px){
            position: relative;
            width: 100%;
    }
    background-color: white;
    padding-bottom: 30px;
    border-radius: 4px;
    border: solid 1px var(--gray-color);
    font-size: small;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    div{
        padding: 10px;

    }
    a{
        padding: 10px;
        color: var(--main-color);
        cursor: pointer;
        text-decoration: underline;
    }
    button{
        display: block;
        margin: auto;
        margin-top: 20px;
        border-radius: 4px;
        width: 130px;
        padding: 5px;
        border: none;
        outline: transparent;
        background-color: var(--main-color);
        color: white;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background-color: var(--main-color-hover);
        }
    }
    div>div{
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
    }
    
}
