.input__search{
    width: 100%;
    margin-top: 10px;
    background-color: #ececee ;
    border: 1px solid  #eceece;
    display: flex;
    padding: 5px 7px;
    border-radius: 4px;
    height: 30px;
    position: relative;

    input{
        flex: 1;
        background-color: transparent;
        outline: transparent;
        border: none;
    }
    
    button{
        height: 100%;
        outline: transparent;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--main-color);
        position: absolute;
        top:0;
        right:0;
        width: 30px;
        color: white;
        transition: .3s;
        &:hover{
            background-color: var(--main-color-hover);

        }
    }
   
}