.input__search{
    width: 400px;
    margin: 10px auto 20px;
    background-color: #ececee ;
    border: 1px solid  #eceece;
    display: flex;
    padding: 5px 7px;
    border-radius: 20px;
    height: 30px;
    input{
        flex: 1;
        background-color: transparent;
        outline: transparent;
        border: none;
    }
    button{
        height: 100%;
        outline: transparent;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: var(--text-color);
    }
    @media (max-width:798px){
    width: 300px;
    input{
        font-size: small;
    }

    }
}